<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Homepage</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <style>
    body {
      background-color: #f8f9fa;
    }
    .sticky-bottom {
      position: -webkit-sticky;
      position: sticky;
      bottom: 20px; /* Adjust this value to your preference */
    }
  </style>
</head>
<body>
  <div class="container-fluid">
    <div class="row justify-content-center">
      <div class="col-12">
        <h1 class="display-5 text-center mt-4 mb-4">Seturi de date pentru județul Arad și municipiul Arad</h1>
      </div>
    </div>
   
    <div class="row justify-content-center mt-4"> 
      <div class="col-md-9">
        <div class="bg-dark text-white p-3 rounded">
          <h4 class="text-center pb-2 border-bottom">Seturi de date</h4>
          <div class="d-grid gap-2">
            <a href="<%= castiguri_path %>" class="btn btn-success btn-lg">Castiguri Salariale</a>
            <a href="<%= population_path %>" class="btn btn-success btn-lg">Populatie</a>
            <a href="<%= sanatate_path %>" class="btn btn-success btn-lg">Sanatate</a>
            <a href="<%= educatie_path %>" class="btn btn-success btn-lg">Educatie</a>
            <a href="<%= cultura_path %>" class="btn btn-success btn-lg">Cultura</a>
            <a href="<%= sport_path %>" class="btn btn-success btn-lg">Sport</a>
          </div>
        </div>
      </div>
    </div>
    <div class="row mt-4 justify-content-center">
      <div class="col-md-9">
        <div class="bg-white p-5 shadow-sm rounded">
          <div class="content">
            <!-- Main content goes here -->
          </div>
        </div>
      </div>
    </div>
  </div>
  <aside class="sticky-bottom float-end me-3 mb-3" style="width: 300px;">
    <div class="p-3 bg-light rounded shadow-sm">
      <h4 class="border-bottom pb-2 mb-3">Map</h4>
      <div style="height: 400px;"> <!-- Adjust the height as needed -->
        <%= render 'home/googlemaps' %>
      </div>
    </div>
  </aside>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>
