<!DOCTYPE html>
<html>
<head>
  <title><%= @post.title %></title>
  <style>
    .bordered {
      border: 1px solid #000;
      padding: 20px;
      margin-bottom: 20px;
    }
    .btn-red {
      background-color: red;
      color: white;
    }
  </style>
</head>
<body>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8 bordered">
        <% if current_user == @post.user %>
        <% end %>

        <h1><%= @post.title %></h1>
        <p>Posted by <%= link_to @post.user.email, user_path(@post.user) %></p>
        <p><%= @post.content %></p>
        <%= link_to 'Back', posts_path, class: 'btn btn-red' %>
        <% if current_user == @post.user %>
        <%= link_to 'Edit', edit_post_path(@post), class: 'btn btn-red' %> |
        <%= button_to 'Destroy', post_path(@post), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-red' %>
        <% end %>
        <h2>Add a Comment</h2>

        <%= form_with(model: [@post, @comment], local: true) do |form| %>
          <% if @comment.errors.any? %>
            <div id="error_explanation">
              <h2><%= pluralize(@comment.errors.count, "error") %> prohibited this comment from being saved:</h2>
              <ul>
                <% @comment.errors.full_messages.each do |message| %>
                  <li><%= message %></li>
                <% end %>
              </ul>
            </div>
          <% end %>

          <div>
            <%= form.label :content %><br>
            <%= form.text_area :content %>
          </div>

          <div>
            <%= form.submit "Add Comment", class: 'btn btn-red' %>
          </div>
        <% end %>

        <h2>Comments</h2>
        <% @comments.each do |comment| %>
          <p><strong><%= comment.user.email %>:</strong> <%= comment.content %></p>
        <% end %>
      </div>
    </div>
  </div>
</body>
</html>